html, body {
    height : 100%;
    margin : 0px;
    padding : 0px;
    background-color : #C0C0C0;
}
.menu
{
    display : inline;
    margin-bottom : 0px;
    margin-right : 20px;
}
.menu > li
{
    display : inline;
    cursor : pointer;
}
#header
{
    background-color : red;
    top : 0;
    width : 100%;
    height : 50px;
    margin : 0px;
}
#main
{
    position : absolute;
    top : 50px;
    height : 100%;
    margin : 0px;
}
#main > p
{
    margin : 0px;
}
#footer
{
    position : absolute;
    bottom : 0px;
    height : 50px;
    background-color : red;
    width : 100%;
}
