html, body {
    height : 100%;
    margin : 0px;
    background-color : #C0C0C0;
}
.menu
{
    margin : 0px;
}
.menu > li
{
    display : inline;
}
#header
{
    background-color : red;
    top : 0;
    width : 100%;
    height : 10%;
    margin : 0px;
}
#main
{
    height : 80%;
    margin : 0px;
}
#main > p
{
    margin : 0px;
}
#footer
{
    height : 10%;
    background-color : red;
}
