<div id="games" class="lobby-section">
  <h1>Create a new game:</h1>
  <ol>
    <li ng-repeat="game in games"
	ng-click="create_game(game)"
	class="button">
        {{game}}
    </li>
  </ol>
</div>

<div id="game_sessions" class="lobby-section">
  <h1>Join a game:</h1>
  <span ng-show="isEmpty(sessions)">
    No game session yet! {{sessions.length}}
  </span>
  <ol>
    <li ng-repeat="(id, session) in sessions"
        ng-click="join_game(id)"
	class="button">
        {{session.name}} - {{id}}
    </li>
  <ol>
</div>
