<link rel="stylesheet" href="css/tic.css"/>

<div id="board">

  <table>
    <tr ng-repeat="row in grid">
      <td ng-repeat="cell in row" class="box" ng-click="play(cell.coord)">
        {{cell.value}}
      </td>
    </tr>
  </table>
  <div>Player symbol: {{symbol}}</div>
  <div>game status: {{status}}</div>
  <p>reset</p>
  <p ng-click="quit()">quit</p>

</div>

<ol id="players">
  <li ng-repeat="player in players">
    <span ng-show="player.occupied">
      id : {{player.id}}
      symbol : {{player.symbol}}
    </span>
    <span ng-hide="player.occupied">
      unoccupied
    </span>
  </li>
</ol>
