  <table>
    <tr>
      <td class="box" id="11"></td>
      <td class="box" id="12"></td>
      <td class="box" id="13"></td>
    </tr>
    <tr>
      <td class="box" id="21"></td>
      <td class="box" id="22"></td>
      <td class="box" id="23"></td>
    </tr>
    <tr>
      <td class="box" id="31"></td>
      <td class="box" id="32"></td>
      <td class="box" id="33"></td>
    </tr>
  </table>
  <p id="response"></p>
  <p id="reset">reset</p>
